<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
   </head>

   <body>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>

        <h2>Usage:</h2>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h3 id="output"></h3>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          this front-end view was included as boilerplate by <a href="http://www.freecodecamp.com">freeCodeCamp</a> — back-end by <a href="https://github.com/abril927">abril927</a>
        </p>
      </div>
   </body>
</html>
